/* @tailwind base; */

.-mt-8 {
  margin-top: -2rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.w-32 {
  width: 8rem
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-8 {
  gap: 2rem
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2rem * var(--tw-space-x-reverse));
  margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(2.5rem * var(--tw-space-x-reverse));
  margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-12 {
  padding-left: 3rem;
  padding-right: 3rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.font-bold {
  font-weight: 700
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

@media (min-width: 768px) {
  .md\:block {
    display: block
  }

  .md\:hidden {
    display: none
  }
}

@media (min-width: 1024px) {
  .lg\:space-x-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
  }
}